<div class="feed-item">
    <div class="item-title">
        <p class="item-name">{{item.title}}</p>
        <p class="item-views">{{item.views | count}} Views</p>
    </div>
    <div class="item-video">
        <div ng-if="item.source === 'youtube' || item.source === 'facebook'" && item.videoLink !== null">
            <iframe width="99%" height="350px" ng-src="{{item.videoLink}}">
            </iframe>
        </div>
        <div ng-if="item.source === 'url' && item.videoLink !== null">
            <video width="100%" height="100%" controls>
                <source ng-src="{{item.videoLink}}" type="video/mp4">
            </video>
        </div>
        <div ng-if="item.videoLink === null">
            <p>Video is missing or not supported :(</p>
        </div>
    </div>
</div>